<form ng-submit="submit()" class="form-inline">
  <input [formControl]="findControl" class="form-control" placeholder="Find movies">
  <button (click)="submit()" class="button">Search</button>
</form>
<div class="serch-results">
  <img style="width: 60px; height: 50px;" *ngIf="loading" 
  src="https://i.pinimg.com/originals/76/77/ed/7677edd5a44b10130b8824ca020ba60b.gif" />
  <div class="search-result-item" *ngFor="let movie of movies">
    <a (click)="submit()" [routerLink]="[ '/movie', movie.id ]" routerLinkActive="active">
      <img class="search-result-img" src="{{movie.imageUrl}}">
      <div class="search-result-label">
        <span class="search-result-title ">{{movie.title}}</span>
        <div class="search-result-detail">Year: {{movie.year}}</div>
      </div>
    </a>
  </div>
</div>