<div *ngIf="data$ | async as userPage">
  <h2>{{userPage.fullName}}</h2>
  <h3>Your rates:</h3>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let movie of userPage.rates">
        <td><img style="width: 65px; height:95px;" src="{{movie.imageUrl}}"></td>
        <td><a class="card-title" [routerLink]="[ '/movie', movie.id ]">
            {{movie.title}} ({{movie.year}})</a></td>
        <td>
          <app-rate [movieId]="movie.id" [rate]="movie.usersRate"></app-rate>
          <app-add-to-watchlist [exist]="movie.isInWatchlist" [movieId]="movie.id"></app-add-to-watchlist>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Your watchlist:</h3>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let movie of userPage.watchLaterMovies">
        <td><img style="width: 65px; height:95px;" src="{{movie.imageUrl}}"></td>
        <td><a class="card-title" [routerLink]="[ '/movie', movie.id ]">
            {{movie.title}} ({{movie.year}})</a></td>
        <td>
          <app-rate [movieId]="movie.id" [rate]="movie.usersRate"></app-rate>
          <app-add-to-watchlist [exist]="movie.isInWatchlist" [movieId]="movie.id"></app-add-to-watchlist>
        </td>
      </tr>
    </tbody>
  </table>
</div>