<h2><b>Restore password</b></h2>
<p>Select uniq password to protect your account</p>
<form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Input new password</label>
    <input type="password" formControlName="newPassword" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && passForm.newPassword.errors }" />
    <div *ngIf="submitted && passForm.newPassword.errors" class="invalid-feedback">
      <div *ngIf="passForm.newPassword.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="new password confirm">Input new password again</label>
    <input type="password" formControlName="newPasswordConfirm" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && passForm.newPasswordConfirm.errors }" />
    <div *ngIf="submitted && passForm.newPasswordConfirm.errors" class="invalid-feedback">
      <div *ngIf="passForm.newPasswordConfirm.errors.required">Password is required</div>
      <div *ngIf="!samePass()">Passwords don't match</div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Save</button>
    <img *ngIf="loading" src="" />
  </div>

</form>