<div class="content-wrapper" *ngIf="movie">
  <div class="full-img">
    <img src="{{movie.imageUrl}}">
  </div>
  <div class="title_block">
    <div class="title_wrapper">
      <h1 class="">{{movie.title}} ({{movie.year}})</h1>
    </div>
    <div class="description">
      {{movie.runtime}}
      | <span *ngFor="let country of movie.countries">{{country}}</span>
      | <span *ngFor="let genre of movie.genres">{{genre}}</span>
    </div>
  </div>
  <iframe width="560" height="315" [src]='trailerUrl()' frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen>
  </iframe>
  <ul class="full-items">
    <li>
      <div class="short-text">
        {{movie.description}}
      </div>
    </li>
    <li *ngIf="movie.budget"><b>Budget: </b> <span style="color: white">{{movie.budget}}</span>$</li>
    <app-rate [movieId]="movie.id" [rate]="movie.usersRate"></app-rate>
    <app-add-to-watchlist [exist]="movie.isInWatchlist" [movieId]="movie.id">
    </app-add-to-watchlist>
    <li><b>Directors:</b>
      <a *ngFor="let director of movie.directors" [routerLink]="[ '/person', director.id ]">
        <b>{{director.fullName}}</b>
      </a>
    </li>
    <li><b>Stars:</b>
      <a *ngFor="let star of movie.stars" [routerLink]="[ '/person', star.id ]">
        <b>{{star.fullName}}</b>
      </a>
    </li>
  </ul>
</div>