.main-content
{
    position: relative;
    height: 410px;
}
.main-content iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 0
}
.description{
    color: white !important;
    margin-bottom: 5px;
}
h1{
    margin-bottom: 5px;
}

ul{
    padding-left: 0px;
}
.detail{
    display: inline-block
}
.detail-header
{
    display: inline-block;
    font-weight: bold;
    padding-right: 5px;
}
.rating-wrapper
{
    position: absolute;
  top: 0;
  right: 0;
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
  margin-left: 0;
}
.full-img {  
    width: 275px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: 0;
    margin-right: 22px;
}
.full-img img{
    width: 270px;
    height: 410px;
}
.title_block h1{
    font-size: 1.6vw !important;
}
.mini
{
    display: inline-block;
    font-size: 8px;
}
.rate-desc
  {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
  }
.title_block {
  position: absolute;
  top: 0;
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
  margin-left: 300px;
  margin-right: 50px;
}
.full-title h3 {
    font-size: 28px;
}

.full-title a {
    text-decoration: none;
}

.full-items {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 860px;
}

.full-items li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0 10px 1px;
}
.short-text {
    min-height: 86px;
    padding-bottom: 15px;
    color: white !important;
}
a::before {
    content: ', ';
}
a:first-child::before {
    content: ' ';
}
span::after{
    content: ', ';
}
span:last-child::after {
    content: ' ';
}