.description{
    color: white !important;
    margin-bottom: 5px;
}
h1{
    margin-bottom: 5px;
}

ul{
    padding-left: 0px;
}
.title_wrapper{
    display: inline-block;
}
.detail{
    display: inline-block
}
.detail-header
{
    display: inline-block;
    font-weight: bold;
    padding-right: 5px;
}
.rating-wrapper
{
    float: right;
    position: relative;
    margin-left: 5px;
    width: 185px;
    z-index: 2;
}
.full-img {  
    width: 275px;
    height: 410px;
    overflow: hidden;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
}

.full-img img {
    width: 265px;
}

.full-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 33px;
    padding-bottom: 12px;
    margin-left: 297px;
}

.full-title h3 {
    font-size: 28px;
}

.full-title a {
    text-decoration: none;
}

.full-items {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 860px;
}

.full-items li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0 10px 1px;
}
.short-text {
    min-height: 86px;
    padding-bottom: 15px;
    color: white !important;
}
a::before {
    content: ', ';
}
a:first-child::before {
    content: ' ';
}
span::after{
    content: ', ';
}
span:last-child::after {
    content: ' ';
}