<div class="content-wrapper" *ngIf="movie">
  <div class="main-content">
    <div class="full-img">
      <img src="{{movie.imageUrl}}">
    </div>
    <div class="title_block">
      <h1 class="">{{movie.title}} ({{movie.year}})</h1>

      {{movie.runtime}}
      | <span *ngFor="let country of movie.countries">{{country}}</span>
      | <span *ngFor="let genre of movie.genres">{{genre}}</span>

    </div>
    <div class="rating-wrapper">
      <div class="rate-desc">{{movie.averageRate}}<div class="mini">/10</div>
      </div>
      <app-rate [movieId]="movie.id" [rate]="movie.usersRate"></app-rate>
      <app-add-to-watchlist [exist]="movie.isInWatchlist" [movieId]="movie.id">
      </app-add-to-watchlist>
    </div>
    <iframe width="560" height="315" [src]='trailerUrl()' frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>
  <ul class="full-items">
    <li>
      <div class="short-text">
        {{movie.description}}
      </div>
    </li>
    <li *ngIf="movie.budget"><b>Budget: </b> <span style="color: white">{{movie.budget}}</span>$</li>
    <li><b>Directors:</b>
      <a *ngFor="let director of movie.directors" [routerLink]="[ '/person', director.id ]">
        <b>{{director.fullName}}</b>
      </a>
    </li>
  </ul>
  <b>Cast:</b>
  <div class="cast-card" *ngFor="let star of movie.stars | slice:0:10">
    <img *ngIf="star.imageUrl!=null" class="cast-img" src="{{star.imageUrl}}" 
    onerror="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB470041852_.png">
    <img *ngIf="star.imageUrl==null" class="cast-img" 
    src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB470041852_.png" >
    <a [routerLink]="[ '/person', star.id ]">
      <b class="cast-name">{{star.fullName}}</b>
    </a>
    <div class="cast-character">{{star.character}}</div>
  </div>
  <app-add-review [movieId]="movie.id"></app-add-review>
  <div *ngIf="movie.reviews.length!=0" ><b>Reviews:</b>
    <div *ngFor="let review of movie.reviews">
      <app-review [review]="review"></app-review>
    </div>
  </div>
</div>